body{
	background-image: url(https://images.unsplash.com/photo-1522911715181-6ce196f07c76?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4c12a16533db92c75e445dbdaa36cfb9&auto=format&fit=crop&w=1301&q=80);
}
h1{
	text-align: center;
	color:white;
	font-size: 90px;
}
h2{
	color: #800000;
}
p{
	color:#191970;
	text-align: center;
	font-size: 25px;
}
h3{
	text-align: center;
	color:black;
	font-size: 40px;
}
li{
	font-size: 20px;
	color: #A52A2A;
}
*{text-align: center;}
.class1{border: 3px solid black; background: white; opacity: 0.7}
